SCYLLADB_HOSTS=node-0.your-dc.xxxx.clusters.scylla.cloud,node-1.your-dc.xxxx.clusters.scylla.cloud,node-2.your-dc.xxxx.clusters.scylla.cloud
SCYLLADB_USERNAME=scylla
SCYLLADB_PASSWORD=your-password
SCYLLADB_KEYSPACE=media_player
