SCYLLADB_NODES=node-0.aws-us-east-1.xxxxxxxxxxxxxxxx.clusters.scylla.cloud,node-1.aws-us-east-1.xxxxxxxxxxxxxxxx.clusters.scylla.cloud,node-2.aws-us-east-1.xxxxxxxxxxxxxxxx.clusters.scylla.cloud
SCYLLADB_USERNAME=scylla
SCYLLADB_PASSWORD=your-awesome-password
SCYLLADB_LOCAL_DC=AWS_US_EAST_1
