NODES=
CLUSTER_USERNAME=
CLUSTER_PASSWORD=
# ScyllaDB datacenter name (e.g., AWS_US_EAST_1). Find it in the ScyllaDB Cloud dashboard under Connect.
CLUSTER_REGION=
MIGRATE_PATH=./internal/database/migrations/migrate.cql